<div class="registration-container">
  <h2>Recruiter Registration</h2>
  <form (ngSubmit)="handleRecruiterRegistration()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="name" />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
      />
    </div>
    <div class="form-group">
      <label for="image">profile Pic :</label>
      <input
        (change)="onFileChange($event)"
        type="file"
        id="profile"
        name="profilePic"
        [(ngModel)]="profilePic"
      />
    </div>
    <img *ngIf="url " [src]="url" alt="Preview" style="max-width: 200px; max-height: 200px;"/>

    <!-- Add company description -->
    <div class="form-group">
      <label for="description">Company Description:</label>
      <textarea id="description" name="description" [(ngModel)]="companyDescription"></textarea>
    </div>

    <!-- Add contact information using PrimeNG components -->
    <div class="form-group">
      <label for="phone">Phone:</label>
      <p-inputMask mask="(+99) 999-999-9999" id="phone" name="phone" [(ngModel)]="companyContactInfo"></p-inputMask>
    </div>

    <button type="submit">Register as Recruiter</button>
  </form>
</div>
