.navbar {
  background-color: #f8f9fa;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 20px;
}

 .ng-container {
  inherits:true;
}
.navbar-brand {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #333;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}
.navbar-nav .nav-item .nav-link {
  /* Your styles for nav-links inside the navbar */
  font-size: 1.2rem;
  color: #333; /* Text color */
}

/* Active link */
.navbar-nav .nav-item.active .nav-link {
  color: #007bff; /* Active link color */
}

/* Toggle button */
.navbar-toggler {
  border: none; /* Remove border */
}

/* Toggle button icon color */
.navbar-toggler-icon {
  color: #333; /* Icon color */
}
