<nav class="navbar">
  <a class="navbar-brand" routerLink="/">Linkedin</a>
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a class="nav-link" routerLink="/register/seeker">Register as Seeker</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a class="nav-link" routerLink="/register/recruiter"
        >Register as Recruiter</a
      >
    </li>
  </ul>

  <ng-container  *ngIf="isLoggedIn && (user | async) as user">
    <ul class="navbar-nav" *ngIf="user.role === 'recruiter'">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/allApps">All applicants</a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/profile">profile</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/jobs">Jobs</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="isLoggedIn && (user | async) as user">
    <ul class="navbar-nav" *ngIf="user.role === 'seeker'">
      <li class="nav-item">
        <a class="nav-link" routerLink="/savedJobs">Saved Jobs </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/seekerProfile">Seeker Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/seeker">Seeker Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">logout</a>
      </li>
    </ul>
  </ng-container>
</nav>
