<div class="form-container">
  <div class="registration-container">
    <h2>Seeker Registration</h2>
    <form [formGroup]="form" (ngSubmit)="handleSeekerRegistration()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" formControlName="name" />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email" [class.invalid]="isInvalid('email')">
        <small class="p-error block" *ngIf="isInvalid('email')">{{ getErrorMessage('email') }}</small>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password" [class.invalid]="isInvalid('password')">
          <small class="p-error block" *ngIf="isInvalid('password')">{{ getErrorMessage('password') }}</small>
        
      </div>
      <div class="form-group">
        <label for="password">profile Pic:</label>
        <input
          type="file"
          id="profilePic"
          name="profilePic"
          [(ngModel)]="profilePic"
          (change)="onProfileChange($event)"
        />
      </div>
      <div class="form-group">
        <label for="resume">resume</label>
        <input
          type="file"
          id="resume"
          name="resume"
          [(ngModel)]="resume"
          (change)="onResumeChange($event)"
        />
      </div>
      <button [ngClass]="{'disabled': !picEnabled||!resumeEnabled} "type="submit" [disabled]="!picEnabled || !resumeEnabled">Register</button>
    </form>
  </div>
</div>
