<div *ngIf="User | async as user" class="card">
  <div *ngIf="checkFilter(user)">
    <div class="card-header">{{ user.name }}</div>
    <div class="card-body">
      <div>
        <img [src]="user.profilePic" />
      </div>
      <div>
        <p>name: {{ user.name }}</p>
        <p>email: {{ user.email }}</p>
      </div>
    </div>
    <div class="card-footer">
      <button
      id="cv"
        pButton
        type="button"
        label="CV"
        icon="pi pi-user"
        (click)="showResume(user)"
      ></button>
    </div>
  </div>
</div>
