/* Style for form container */
.job-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Style for form fields */
  .p-field {
    margin-bottom: 20px;
  }
  
  /* Style for labels */
  label {
    display: block;
    font-weight: bold;
  }
  
  /* Style for input fields */
  .p-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for select fields */
  .p-input select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for submit button */
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-right:20px ;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Style for error messages */
  .p-invalid {
    border-color: #dc3545 !important;
  }
  