<div *ngIf="User|async as user ">
  <div *ngIf="job.status == 'open'" class="card">
    <div class="card-header">
      {{ job.title }}
    </div>
    <div class="card-body">
      <p>description: {{ job.description }}</p>
      <p>Location: {{ job.location }}</p>
      <p>Salary: {{ job.salary }}</p>
      <p>Qualifications: {{ job.qualifications }}</p>

      <div *ngIf="company | async as comp">
        <p (click)="showCompany(comp)">postedBy:{{ comp.name }}</p>
      </div>
      <div *ngIf="expanded">
        <p>Benefits: {{ job.benefits }}</p>
        <p>Responsibilities: {{ job.responsibilities }}</p>
      </div>

      <button
        pButton
        type="button"
        label="View More"
        (click)="toggleExpand(job)"
      ></button>
      <button pButton type="button" label="Apply"></button>
      <button *ngIf="!checkSaved(job, user)"
        pButton
        (click)="saveJob(job, user)"
        type="button"
        label="Save"
      ></button>
      <button *ngIf="checkSaved(job, user)"
        pButton
        (click)="UnsaveJob(job, user)"
        type="button"
        label="UnSave"
      ></button>
    </div>
  </div>
</div>
