<div *ngIf="User|async as user ">
  <div *ngIf="job.status == 'open'" class="card">
    <div class="card-header">
      {{ job.title }}
    </div>
    <div class="card-body">
      <p>description: {{ job.description }}</p>
      <p>Location: {{ job.location }}</p>
      <p>Salary: {{ job.salary }}</p>
      <p>Qualifications: {{ job.qualifications }}</p>

      <div *ngIf="company | async as comp">
        <p (click)="showCompany(comp)">postedBy:{{ comp.name }}</p>
        <img  class="logo" [src]="comp.profilePic" alt="">
      </div>
      <div *ngIf="expanded">
        <p>Benefits: {{ job.benefits }}</p>
        <p>Responsibilities: {{ job.responsibilities }}</p>
      </div>
    <div *ngIf="company|async as comp">
      <button
        pButton
        type="button"
        label="View More"
        (click)="toggleExpand(job)"
      ></button>
      
      <button *ngIf="!checkApplied(job, user)" pButton type="button" label="Apply" (click)="applyJob(job , comp, user)"></button>

      <button *ngIf="checkApplied(job, user)" pButton type="button" label="already Applied"  class="disabled" [disabled]="true"></button>
      <button *ngIf="!checkSaved(job, user)"
        pButton
        (click)="saveJob(job, user)"
        type="button"
        label="Save"
      ></button>
      <button *ngIf="checkSaved(job, user)"
        pButton
        (click)="UnsaveJob(job, user)"
        type="button"
        label="UnSave"
      ></button>
    </div>
    </div>
  </div>
</div>
